<div class="container">
  <h1> PROFILE:</h1>
<form class="profile-form">
  <label>Trade:</label>
  <p class="input-group">
    <input type="text" class="form-control" placeholder="Please enter your trade." ng-model="$ctrl.newTrade">
    <label>Location:</label>
  <p class="input-group">
    <input type="text" class="form-control" placeholder="Please enter your trade." ng-model="$ctrl.newLocation">
    <label>Telephone Number:</label>
  <p class="input-group">
    <input type="text" class="form-control" placeholder="Please enter your trade." ng-model="$ctrl.newTelephone">
    <label>KeyWords</label>
  <p class="input-group">
    <input type="text" class="form-control" placeholder="Please enter your trade." ng-model="$ctrl.newKeywords">
    <label>Photo</label>
  <p class="input-group">
    <input type="text" class="form-control" placeholder="Please enter your trade." ng-model="$ctrl.newPhoto">
    <label>Bio</label>
  <p class="input-group">
    <input type="text" class="form-control" placeholder="Please enter your trade." ng-model="$ctrl.newBio">
  <span class="input-group-btn">
    <button type="submit" class="btn btn-primary" ng-click="$ctrl.addProfile()">Submit</button>
  </span>
  </p>
</form>
</div>